.reset-styles {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

[data-zuude-video-wrapper] {
  position: relative;
}

[data-zuude-video-wrapper] [data-zuude-video] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
